body {
  background-color:rgb(255, 255, 255);
}

.contents {
  margin: 5px;
}

h2 {
  padding: 0 0 0 10px;
  border-left: solid 7px #FFC000;
  font-size: 25px;
  font-family: sans-serif;
  line-height: 1.4;
}

h5 {
  padding: 0 0 4px 0; /* 下線部とフォントとの距離 */
  font-size: 17px;
  border-bottom: 4px solid #ffbf0081;
}

.table {
  width: auto;
  margin: 0 10px 0 10px;
  margin-bottom: 2em;
  font-family: 'Hiragino Maru Gothic Pro';
}

.tableList {
  background-color: #ffbf0016;
}

dd {
  font-size: 10px;
  line-height: 0.2;
}

footer {
  width: 100%;
  text-align: center;
  padding: 5px 5px;
  position:absolute;
  background-color: #0D3A97;
}

.footer-text {
  font-size: 10px;
  font-family: 'Hiragino Maru Gothic Pro';
  color: #fff;
}
